
*{
    margin: 0; /*no space around the element*/
    outline: none;/*no line around the element*/
    box-sizing: border-box;/* s*/
}
body{
    background: white;
    font-family: 'lato' sans-serif;
}
.wrapper{
    position:relative ;
    height: 100vh;
}
header{
    width: 70%;
    border: 1px solid greenyellow;/* line on the header*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
header ul li{
    margin: 0.4rem;
}
header ul li a{
    text-decoration:none;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 15px 20px;
    border-radius:20px ;
    transition: all ease .3s;
}
header ul li a:hover{
    color: whitesmoke;
    background-color: blue;
}
header ul li a.btn{
    color: white;
    background-color:blue ;
    padding:15px 40pxs ;
}
header ul li a.btn :hover
{
    color: blue;
    background-color:lightblue ;
}
/*submenu*/
.submenu{
    max-width: 200px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: -2px 2px 3px darkgray;
    padding-left: 0;
    margin-top: 15px;
    opacity: 0;
    transition: all ease .5s;
    z-index: 1;/*control vertical positioning and shld be with absolute property*/
    display: block;
}
ul li:hover .submenu{
    opacity: 1;
    margin: 20px 0;
}.submenu li{
    margin: 0;
}
.logo{
    width: 100px;
    height: 80px;
}