@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --primary-color: #ff5a41;
  --secondary-color: #99b5d5;
  --footer-color: #282828;;
  --text-color: #161616;
  --hover-color: #c6cccc;
  --font-size-lg: 1.25rem;
  --font-size-lm: 1 rem;
  --font-size-ls: 0.7 rem;
}
/* html styling */
html {
  font-size: 62.5%;
}
/* Set font and background color for the page */
body {
  margin: 0;
  /* font-family: Poppins, playfair; */
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  background: #fafafa;;
  /* line-height: 20px; */
}
/* Apply a container to center the content */
.main-container {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
}

/* navbar section */
.hero{
  width: 100%;
  height: 100vh;
  background-color: linear-gradient(rgba(53, 178, 63, 0.727),rgba(163, 218, 76, 0.3));
  position: relative;
  padding: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;

}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:transparent;
  transition: background-color 0.3 ease-in-out;
  z-index: 999;
}
.nav-container{
  /* width: 100%; */
  /* position: fixed; */
  /* top: 0; */
  /* left:0; */
  padding: 2rem 9rem; 
  /* background-color:transparent; */

  /* z-index: 999; */
  display: flex;
  justify-content: space-between; 
  /* max-width: 100%; */
  /* margin: 0 auto; */
  align-items: center;
  /* padding: 0 1rem; */
}
.header-scrolled {
  /* background-color: var(--footer-color) */
  background-color: #fff;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  color: #484848;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9992;
}
.logo{
  font-size: 2rem;
  text-transform: uppercase;
}
.logo span{
  font-weight: 700;
  color: #2be74d;
}
.hamburger{
  position: absolute;
  top:1.5rem;
  right:1rem;
  display: none;
  width: 30px;
  height: 3px;
  background-color: #333;
  /* position: relative; */
  transition: background-color 0.3s ease;
}
.hamburger:before,
.hamburger:after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  transition: transform 0.3s ease;
}
.hamburger:before{
  top: -10px;
}
.hamburger:after{
  top: 10px;
}
/* open state */
.hamburger .open{
 background-color: tranparent;
}
.hamburger.open:before{
  transform: rotate(45deg);
  top: 0;
}
.hamburger.open:after{
  transform: rotate(-45deg);
  top: 0;
}

ul{
  display: flex;
  gap:1rem;
  padding: 0;
}

.abt-list ,.cat-list{
  display: block;
  flex-direction: column;
  list-style-type: square;
  gap:1rem;
  
  padding: 0;
}
/* li{
  margin: 0 10px;
  position: relative;
} */
li a{
  font-size: 1.4rem;
  text-transform:uppercase;
  color: black;
  transition: color 0.3s ease-in-out;
}
li a:hover{
  color:#999;
}
.current-page{
 color:var(--primary-color);
 font-weight: 700;
}
li a ::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color:rgb(211, 140, 32);
  transition: width 0.3s ease;
}
li a:hover::after,
li a .current-page::after{
  width: 100%;
}

/* style above-the-fold  for landing page */
/* .above-the-fold {
  position: relative;
  height: 100vh;
  overflow: hidden;
  
} */


.landing-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  margin-bottom: 1rem;
  
}

.video-overy{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
  color: #565555;
}
.video-overy h1{
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 6src="images/bg-clip.mp4"00;
  color:#2be74d;
}
.video-overy h1 span{
  color:#ff5a41;
}
.video-overy p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  background-color:white;
  padding: 2px;
  border-radius: 5px;
}
.video-overy p:hover{
  
  background-color:transparent;
  transition: background-color 0.3s; /* Add a smooth transition effect */
  animation: 0.3s ease-in;
}
.video-overy p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  background-color:white;
  opacity: 1;
  /* opacity: rgba(245, 245, 245,0.1);  */
  border: 1px #2be74d solid;
}
.cta-btn{
  display:inline-block;
  padding: 1rem 2rem;
  color:#000;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px #2be74d solid;
}
.cta-btn:hover {
  background-color: var(
    --primary-color
  ); /* Change the background color on hover */
  color: white;
  cursor: pointer; /* Show a pointer cursor on hover */
  transition: background-color 0.3s; /* Add a smooth transition effect */
  animation: 0.3s ease-in;
}
/* blog */
.above-the-fold-blg {
  position: relative;
  height: auto;
  overflow: hidden;
}
.above-the-fold-blg video{
  width:100%;
  height: 0%;

}

/* blog */
/* style text on top of the video */
/* .above-the-fold {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
} */
/* about page */
.above-the-fold-abt  {
  position: relative;
  text-align: left;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 5rem;
  font-weight: 600;
  /* padding: 2rem 9rem; */
  /* margin-bottom: 1rem; */
}
/* .content-abt::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid black;
} */

.below-fold {
 
  margin: 0 auto;
  padding: 2rem 9rem;
  /* background-color: var(--secondary-color); */
  background-image: linear-gradient(to top, #bed7ea, #fff);
}
.below-fold-abt-page {
 
  margin: 0 auto;
  padding: 2rem 9rem;
  /* background-color:yellow; */
}
.below-fold .article-title {
  text-align: center;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform:uppercase;
  text-decoration: none;
  margin-bottom: 1rem;
  
}
 .article-title ::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid black;
}
.below-fold-svc {
  padding: 2rem 9rem;
  position: relative;
}
.below-fold-blg {
 
  margin: 0 auto;
  padding: 2rem 9rem;
  /* background-color: var(--secondary-color); */
  background-image: linear-gradient(to top, #bed7ea, #fff); 
}
.article-title-service  {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  
}
.article-title-service::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid black;
}

.lower-section {
  /* display: flex; */
  /* align-items: flex-start; */
  /* border:2px #000 solid; */
  text-align: justify;
  /* margin-top: 20px; */
}
.lower-section-abt{
  display: flex;
  align-items: flex-start;
  /* border:2px #000 solid; */
  text-align: justify;
  /* margin-top: 20px; */
}
 .image {
  width: 100%;
  /* max-width: 50%; */
  min-width: 20%;
  float: left;
   margin-right: 10px;
}
  /* margin-right: 5rem; */
  /* border: 2px black solid; */
  
  /* display: flex; */
  /* align-items: flex-start; */
  /* border:2px #000 solid; */
  /* text-align: justify; */
  /* margin-top: 20px; */

  /* float: left; */
  /* margin-right: 10px; */


.lower-section  .landingpage-article-img{
  width: 30%;
  max-width: 50%;
  /* min-width: 20%; */
  min-height: 10%;
  float: left;
  margin-right: 10px;
}
.lower-section-service {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  /* align-items: flex-start; */
  /* margin-top: 20px; */
}
.lower-section p .read-more {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 1px 2px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.hidden-content {
  display: none;
}

.image {
  display: block;
  margin: 0 auto 20px;
  /* max-width: 100%; */
  height: auto;
}

.image img {
  /* max-width: 500px; */
  max-width: 100%;
  min-width: 35px;
  height: auto;
  border-radius: 30px;
}

.article-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-left: 20px; /* Adjust as needed */
  flex-wrap: wrap;
  justify-content:right;
}
.article-text-svc {
  /* background-image: linear-gradient(to top, #c1d6c0, #fff); */
  /* opacity: rgba(245, 245, 245,0.5); */
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-left: 20px; /* Adjust as needed */
  flex-wrap: wrap;
  /* width: 50%; */
  /* border: #ff5a41 2px solid; */
}
.article-text-abt {
  /* background-image: linear-gradient(to top, #c1d6c0, #fff); */
  /* opacity: rgba(245, 245, 245,0.5); */
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-left: 20px; /* Adjust as needed */
  flex-wrap: wrap;
  width: 80%;
  text-align: justify;
  /* border: #ff5a41 2px solid; */
}

 .article-text-abt ul li{
  
  margin-bottom: 10px;
  
}
 .article-text-abt ul li::first-letter{
  font-weight: 800;
  
}
/* ################################## */
#below-the-fold {
  flex-direction: row;
  background-color: #f9f9f9;
  padding: 2rem 9rem;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 6rem;
}
.container h2{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
#below-the-fold .container h2 {
  font-size: 2.5rem;
}
#below-the-fold .container p {
  font-size: 1.4rem;
}

/* testimonial section start */
.testimonial-header{
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5 rem;
  font-size:var(--font-size-lg);
  margin-bottom: 10px;

}



.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.testimonial p {
  font-style: italic;
  font-size: 1.4em;
  margin-bottom: 10px;
}
.testimonial span {
  font-weight: bold;
  font-size: 1.6em;
}
.testimonials-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem 9rem;
}
/* testimonial section end */
/* dropcap */
.drop-cap {
  font-size: 3em;
  padding: 0.1em;
  float: left;
  margin-right: 0.1em;
  line-height: 0.8em;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.product {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.product:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.product img {
  max-width: 100%;
}

.product h3 {
  margin-top: 10px;
  font-size: 24px;
}

.product p {
  margin-top: 10px;
  font-size: 16px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--footer-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: lightblue;
}

/* services page start */
.image-container {
  position: center;
  width: 20%;
  height: auto;
  /* background-image: url(images/shape.png); */
  /* background-image: url(images/tsl.png); */
  /* border: #007bff 2px solid; */
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 40%;
  width: 30%;
  height: auto;
}

/* services page end */
/* blog section start */
.blog-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.left-column {
  width: 90%;
}

.right-column {
  width: 20%;
  background-color: #f6fbfb;
  text-align: center;
}

.post {
  margin-bottom: 20px;
}

.post h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.container-image{
  display: flex;
  flex: row;
  /* align-items: flex-start; */
  align-content: space-between;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
  position: relative;
}

.container-image img{
  width: 200px;
  height: auto;
  transition: transform 0.3s ease;
  margin-right: 10px;
}


.text{
  text-align: right;
  text-align: justify;
  font-size: 1.4em;
}
.container-image img:hover img {
  transform: scale(1.1);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.container-image:hover .image-overlay {
  opacity: 1;
}

.image-overlay-content {
  text-align: center;
  color: #fff;
}

/* Additional styling for the overlay content */
.image-overlay-content h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.image-overlay-content p {
  font-size: 1.6em;
  margin-bottom: 0;
}

.categories ul,
.recent-posts ul,
.popular-posts ul {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}

.categories li,
.recent-posts li,
.popular-posts li {
  margin-bottom: 10px;
}

.categories h3,
.recent-posts h3,
.popular-posts h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* blog section end */
/* contact page */
.container-ct {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 6rem;
}

h1 {
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 30px;
  text-align: left;
  font-size: 1rem;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
/* contact page */
/* start footer styling */
/* Set the background color and text color of the footer */
.footer-container {
  margin: 0 auto;
  max-width: 100%;
  background-color: var(--footer-color);
  /* color: #444; */
  /* color: rgb(180, 178, 178); */
  padding: 2rem 9rem;
}
/* set the footer row */
.footer-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 30px 15px 30px;
}
.footer-col {
  text-align: center;
}

/* Style the heading for each column */
.footer-col h5 {
  color: lightgrey;
  /* padding: 0.2em; */
  font-size: 1.2em;
  /* font-size: var(--font-size-lm); */
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* Style the links in each column */
.footer-col ul a {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  /* font-size: var(--font-size-ls); */
  font-size: 1rem;
  color: white;
}

.footer-col ul li a:hover {
  /* color: #333; */
  color: var(--primary-color);
  text-decoration: none;
  padding: 2px;
}

/* Style the social media icons */
.social_links div {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.8em;
}

.social_links ion-icon {
  color: white;
}
.social_links ion-icon:hover {
  color: var(--primary-color);
  padding: 2px;
}

.trademark {
  text-align: center;
  font-size: 1rem;
  margin: 2em 0;
  color:lightgrey;
}
.horizontal-line {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid white; /* or any other color */
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  /* style na for the side bar */
  .nav-container{
    flex-direction: column;
    align-items: center;
  }
  
  .hamburger{
    display: flex;
  }
  nav{
  
    width:100%;
    display: none;
    overflow: hidden;
   transition: 250ms height ease-in-out;
  }
  ul{
    display: block;
    text-align: center;
    padding: 1rem 0;
  }
  li{
    
    padding: 1.5rem 0;
  }
  li a{
    font-size: 1.5rem;
  }
  .active{
    display: block;
  }
  /* above the fold styling */
  .content h1{
    font-size: 1.8em;
    /* font-size: var(--font-size-lg); */
  }
  .content p {
    font-size: 1.212pxem;
    line-height: 1.2;
    text-align: justify;
    word-wrap: wrap;
    background-image: linear-gradient(to top, #c1d6c0, #fff);
    
  }
  /* below the fold section */
  .lower-section {
    flex-direction: column;
  }
  .lower-section-service{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 6rem 0;
    gap: 3rem;
  }
   .image-container img{
    display: none;
    
  } 
  .container-image{
    flex-direction: column;
    align-items: center; 
    
  }
  .article-text-svc{
    /* font-size: 16px; */
    width:auto;
  }

  
  /* testimonial start */
  .testimonials-container {
    flex-direction: column;
  }
  .blog-content {
    flex-direction: column;
    align-items: center;
  }

  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  /* testimonial end */
  /* footer section */
  .footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}
